<?xml version="1.0" encoding="utf-8"?>
<configuration>
	  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
    	  type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    	  requirePermission="false"/>
	  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
    <connectionStrings>
        <add name="ERPNaqelEntities"
            connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=212.107.109.124;initial catalog=ERPNaqel;persist security info=True;user id=dbuser;password=Appuser@123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
            providerName="System.Data.EntityClient"/>
        <add name="ERPNaqelEntities1"
            connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.8.118;initial catalog=ERPNaqel;persist security info=True;user id=testuser;password=Test@123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
            providerName="System.Data.EntityClient"/>
		<add name="ERPNaqelConnectionStringLive" connectionString="Data Source=212.93.160.148;Initial Catalog=ERPNaqel;Persist Security Info=True;User ID=applogin;Password=Appuser@123" providerName="System.Data.SqlClient"/>

	</connectionStrings>
  <appSettings>
    <add key="Myemail" value="Nouf.alotaibi@naqel.com.sa"/>
    <add key="MailName" value="no.reply@naqel.com.sa"/>
    <add key="MailUserName" value="no.reply@naqel.com.sa"/>
    <add key="MailPwd" value="smazqlnztxdesmif"/>
    <add key="SMTPClientHost" value="smtp-relay.gmail.com"/>
    <add key="SMTPClientPort" value="587"/>
    <add key="DLHTML" value="D:\\2023\\NotificationsWebsite"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>

  <!-- Log4net Logging Setup -->
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="console"/>
      <appender-ref ref="file"/>
    </root>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%envFolderPath{CommonApplicationData}\\test.txt"/>
			...
		</appender>
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file value="bin\myapp.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v15.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>